
<h1>Create Course</h1>
            <div class="form">
               <!--<form (ngSubmit)="createCourse()" #addBookForm="ngForm">  --> 
                <form action='/course/create' method="POST">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" />
                    <label for="name">Teachers</label>
                    <input type="text" id="teacher" name="teacher"/>
                    <label for="name">Duration</label>
                    <input type="text" id="duration" name="duration"/>
                    <label for="name">Description</label>
                    <textarea id="descroption" name="description"></textarea>
                    <label for="image">ImageUrl</label>
                    <input type="text" id="imgURL" name="imgURL"/>
                    <input type="submit" value="Create"/>
                </form>
            </div>