<div class="col-md-4"></div>
<div class="col-md-4">
    <h1 class="text-italic">Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.value)">
        <div class="form-group">
            <label for="email">Email address</label>
            <input  #emailInput="ngModel" type="text" name="username" id="email" class="form-control" placeholder="john.doe@domain.bg"
           
            required
            ngModel>
            <!-- {{emailInput.errors | json}} -->
            <p class="error-message" *ngIf="emailInput.invalid && emailInput.touched">Please enter valid email!</p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input  #passwordInput="ngModel"  name="password" id="password" type="password" class="form-control" placeholder="************"
            minlength="3"
            required
            ngModel>
            <p class="error-message" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter valid password!</p>
        </div>

        <button [disabled]="loginForm.invalid" class="btn btn-success" >Login</button>
    </form>
    <div *ngIf="loginFail" class="alert alert-danger">
        Failed Login!
    </div>
    <p>Don't have account yet? <a routerLink="/register">Register</a>.</p>
</div>

